body, html {
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: 'Arial', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}

.wrapper {
  border: 2px solid #000;
  border-radius: 16px;
  width: 100%;
  max-width: 440px;
  margin: 40px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
}
.wrapper h1{
  margin-top: 50px;
}

header {
  background-color: white;
  color: black;
  text-align: center;
  position: relative;
}
.plant-monitor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 100%;
}

.plant.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  height: 320px;
}

.plants {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plant.first, .plant.second, .plant.third {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  height: 100px;
}

.water-sensor,.light-sensor,.soil-sensor{
  font-size: 24px;
  text-align: center;
  font-weight: bold;
}
.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: auto;
  min-width: 50%;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;;
}
.status-label {
  text-align: left;
  font-size: 16px;
  color: #333;
  display: flex;
}
.status-label.percentage{
  margin-top: 10px;;
}
.status-bar, .status-fill {
  height: 20px;
  border-radius: 10px;
  font-size: 18px;
}
.status-bar {
  background-color: #e0e0e0;
  width: 100%;
  margin-top: 10px;
  display: flex;
  height: 25px;
}
.water-fill {
  background-color: BLUE;
  height: 100%;
  text-align: center;
  color: white;
  border-radius: 20px;
}
.sun-light {
  background-color: red;
  height: 100%;
  text-align: center;
  color: white;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.led-light {
  background-color: blue;
  height: 100%;
  text-align: center;
  color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.data {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: nowrap;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

.btn {
  padding: 8px 16px;
  background-color: #f0f0f0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

.btn:hover {
  background-color: #e0e0e0;
}
.watering img{
  width: 36px;
  position: absolute;
}
.sunning img{
  width: 30px;
  transform: rotate(270deg);
  position: absolute;
}
.water-bottle img,.soilThreshold img, .lightThreshold img{
  width: 50px;
}
.status {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  margin-top: 10px;
}

.time-box {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  text-align: left; 
}

.led-status {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 5px;
  display: flex;
  text-align: center;
}

.settings-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.home-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
}
.settings-icon img ,.home-icon img{
  width: 36px;
  height: 36px;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  margin-top: 5%;
  max-height: 80vh; /* 뷰포트 높이의 80%를 최대 높이로 설정 */
  overflow-y: auto; 
}
.modal input[type="text"],.modal input[type="number"],
.modal input[type="date"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

form {
  display: flex;
  flex-direction: column;
}

form label, form input, form button {
  margin-top: 10px;
}

.modal-content h2{
  text-align: center;
}
.modal button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modal button:hover {
  background-color: #45a049;
}
@media (max-width: 470px) {
  .wrapper {
    width: 100%;
    max-width: 100%;
    margin: 0;
    border: none;
  }

  body, html {
    height: auto;
  }

}
.plant-image {
  width: 200px;  /* 너비를 200픽셀로 설정 */
  height: 200px; /* 높이를 200픽셀로 설정 */
}
/* plant.css */
.modal input[type="range"] {
  width: 100%;
  margin: 8px 0;
  display: inline-block;
  cursor: pointer;
}
.water-count {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 10px 0;
}
.status-label{
  font-weight: bold;
}
.plant-monitor p{
  font-weight: bold;
}